<div class="site-header-content">
   
<div style = "margin-top:20px;
width: 100vw;
max-width: 100vw;
position:absolute;
z-index: 100;
">
            {{#if @site.logo}}

 <img style = "float:left; 
max-height:150px; 
max-width:30vw;
border-radius:30%;
margin-left: 30px;
margin-bottom: 10px;
"
 src="{{img_url @site.logo size="xl"}}" alt="{{@site.title}}" />
        {{/if}}

    <h1
    style = "position:relative; 
      z-axis:100;
font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: -.015em;
"
    >
    {{#if @site.title}}
      {{@site.title}}
    {{/if}}	    
    </h1>
    <center
    style = "position:relative; 
      z-axis:100;
      padding: 0 20px 0 20px">
      <div
      style = "max-width: 40em"
      >
     {{#if @site.description}}
       {{@site.description}}
     {{/if}}  
    </div>
   </center>
</div>

 {{#if @site.cover_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
	
        <img class="site-header-cover"
            srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            sizes="100vw"
            src="{{img_url @site.cover_image size="xl"}}"
            alt=""
        />
    {{/if}}

</div>
